<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>社区</title>
<meta name="keywords" content="快站 社区">
<meta name="description" content="快站 社区">
<link rel="stylesheet" type="text/css" href="assets/css/layout.css" />
<link rel="stylesheet" type="text/css" href="assets/css/ui.css" />
<link rel="stylesheet" type="text/css" href="assets/css/forums.css" />
</head>

<body>
<!--top s-->
<div class="top">
	<div class="content mini-bar">
		<a href=""><i class="k-i-home"></i> <span>欢迎访问 www.wy4.cn</span></a>
		<div class="right-user">
                <a href="javascript:void(0)">登录</a>
                <a class="cut-off">|</a>
                <a href="http://www.kuaizhan.com/passport/">注册</a>
        </div>
	</div>
</div>
<!--top e-->
<!--search & nav s-->
<div class="header">
    <div class="content">
        <div class="logo-search-section">
            <div href="javascript:void(0)" class="site-section">
            	<a href="">
				<img src="http://pic.kuaizhan.com/g2/M00/81/28/wKjmqlfNFweAKjU7AAAiuqR4iKU921.png" class="site-logo">
				<span class="logo-title">问题求助</span></a>
            </div>
			<!--search s-->
            <div class="search-section">
                <div class="search-form">
                    <div class="search-pop-form"><input type="text" placeholder="请输入搜索内容" value=""></div>
                    <a href="javascript:void(0)"><i class="k-i-search search-icon"></i></a>
                </div>
            </div>
            <!--search e-->
        </div>
		<!--nav s-->
        <div class="nav-tag">
                <ul class="all-tags">
					<li class="tag-cur">网站首页</li>
					<li>新闻资讯</li>
					<li>市政政策</li>
					<li>生活百态</li>
					<li>房屋租售</li>
					<li>旅游看看</li>
					<li>我的家园</li>
					<li>二手交易</li>
					<li>娱乐八卦</li>
					<li>今日中国</li>
                </ul>
        </div>
        <!--nav e-->
    </div>
</div>
<!--search & nav e-->

<!--forumContent s-->
<div class="forum-content content">
	<div class="forum-content-left">
		<div class="topic-content">
			<div class="topic-type detail-nav">
				<a href="javascript:void(0)" class="pub-button">
					<i class="k-i-edit"></i><span class="pub-text">发布话题</span>
				</a>
				<div class="detail-menu"><span>社区首页 &gt;</span> <span>云商店</span></div>
			</div>
			
			
			<div class="topic-detail-main">
				<div class="topic-detail-title">
					<i class="k-i-top topic-stick topic-quality"></i>
					<strong>【重要】针对部分JS函数禁用的通知针对部分JS函数禁用的通知针对部分JS函数禁用的通知针对部分JS函数禁用的通知针对部分JS函数禁用的通知</strong>
				</div>

				<div class="topic-detail-info">
					<span>2017年4月25日 晚上 6:25</span>
					<span class="topic-tag">#云商店</span>
					<span class="topic-tag">#开放平台</span>
					<div class="topic-watch"><i class="kz-e-scan"></i><span>49</span></div>
				</div>

				<div class="topic-body-brief">尊敬的快站站长、开发者们：<p><br></p><p>出于安全考虑，快站团队针对JS禁用以下函数列表：</p><p>'eval'、 'document.write'、'setTimeout'、'setInterval',、'unescape'</p><p>该禁用处理从2017年04月25日起生效，目前已经使用了该函数的模版不受影响，更新或者之后上传的模版将无法正常使用。请各位知悉。</p><p>@开放平台开发者们：已经使用这些代码的开发者请注意，建议在近期换掉该类代码，或在用户咨询时提前向用户说明情况，以免影响用户体验，造成不必要的误会和投诉。</p><p><br></p><p>快站团队</p><p>2017年04月25日</p></div>
				
				
				<div class="topic-detail-mark">
					<div class="topic-detail-all">
						<a href="javascript:void(0)" class="report" style="display: none;">举报</a>
						<a href="javascript:void(0)" class="upvote"><i class="k-i-like"></i><span>赞</span></a>
						<a href="javascript:void(0)" class="reply"><i class="k-i-com"></i><span>回复</span></a>
						<a href="javascript:void(0)" class="favorite"><i v-else="" class="kz-e-star-o"></i><span>收藏</span></a>
					</div>
				</div>
				
<!--回复 s-->
<div class="commentListItem-topic-item">
	<a href="javascript:void(0)" class="commentListItem-user-avatar">
	   <img src="http://pic.kuaizhan.com/g2/M01/53/3E/wKjmqleN_NSAMeytAAECct2Ygh4325.png/imageView/v1/thumbnail/128x128">
	</a>
	<div class="commentListItem-item-content">
		<div class="commentListItem-user-info">
			<span>私人订制</span>
			<span class="user-rank-1 commentListItem-level"></span>
			<span class="commentListItem-floor">1#</span>
		 </div>
		<div class="comment-bar">
			<div class="commentListItem-comment-brief"> 亲，我能问为什么吗？？？这样的话快站如何搞【个性化】【特色化】【博人眼球啊】？？？？？？能不能官方出品一些好的也行啊！一杆打死多无聊啊 </div>
			<div class="comment-bar">
				<span class="commentListItem-time">2017年4月26日15:23:02</span>
				<div class="commentListItem-comment-operation">
					<a class="commentListItem-upvote"><i class="k-i-like-o"></i><span>222</span></a>
					<a class="commentListItem-reply"><i class="k-i-com"></i></a>
					<a class="commentListItem-manage"><i class="k-i-more"></i></a>
					<div class="commentListItem-manage-content" style="display: none;"><a href="javascript:void(0)">发私信</a></div>
				</div>
			</div>
		</div>
		
		
		<!--楼内回复 s-->
		<div class="comment-floor-box">
			<div class="commentListItem-topic-item infloor-back">
				<div class="commentListItem-item-content" style="margin-left: 0">
					<div class="commentListItem-user-info">
						<span class="bold-name">私人订制</span>
						<span class="user-rank-1 commentListItem-level"></span>
						<span class="commentListItem-time">2017年4月26日15:23:02</span>
					 </div>
					<div class="comment-bar">
						<div class="commentListItem-comment-brief"> 亲，我能问为什么吗？？？这样的话快站如何搞【个性化】【特色化】【博人眼球啊】？？？？？？能不能官方出品一些好的也行啊！一杆打死多无聊啊 </div>
						<div class="comment-bar replay-line">
							<div class="commentListItem-comment-operation">
								<a class="commentListItem-upvote"><i class="k-i-like-o"></i><span>222</span></a>
								<a class="commentListItem-reply"><i class="k-i-com"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="commentListItem-topic-item infloor-back">
				<div class="commentListItem-item-content" style="margin-left: 0">
					<div class="commentListItem-user-info">
						<span class="bold-name">私人订制</span>
						<span class="user-rank-1 commentListItem-level"></span>
						<span class="commentListItem-time">2017年4月26日15:23:02</span>
					 </div>
					<div class="comment-bar">
						<div class="commentListItem-comment-brief"><span class="at-user">@私人订制</span> 亲，我能问为什么吗？？？这样的话快站如何搞【个性化】【特色化】【博人眼球啊】？？？？？？能不能官方出品一些好的也行啊！一杆打死多无聊啊 </div>
						<div class="comment-bar replay-line">
							<div class="commentListItem-comment-operation">
								<a class="commentListItem-upvote"><i class="k-i-like-o"></i><span>222</span></a>
								<a class="commentListItem-reply"><i class="k-i-com"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!--楼内回复 s-->
	</div>
</div>
<!--回复 e-->

			  <!--page s-->
			  <div class="pagination"> <a class="first" href="">上一页</a><a href="" class="cur-page">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a class="last" href="">下一页</a> </div>
			  <!--page e-->

			</div>
		</div>
		<!--editor s-->
		<div class="editor-main">
			<div class="box-title">发表回复</div>
			<div class="editor-content">
				<form action="" method="post">
				<div class="editor-pub-content">
					<textarea class="tinyce-editor" name="content" id="editor-content"></textarea>
				</div>
				<button class="editor-pub-button" type="submit" id="send-editor-content">
				<i class="k-i-edit"></i><span class="pub-text">发表回复</span>
				</button>
				</form>
			</div>
		</div>
		<!--editor e-->

	</div>
	
	<!--侧栏 s-->
	<div class="forum-content-right">
	
		<div class="publisher">
		  <div class="publisher-content">
			<div class="publisher-user-info"><img src="http://pic.kuaizhan.com/g2/M00/8A/EF/CgpQVFcYPi-ANWs3AAATr2jAfiA220.png/imageView/v1/thumbnail/128x128" />
			  <div>快站团队 <span class="user-rank-5 publisher-level"></span></div>
			</div>
			<div class="publisher-signature">
				<span>男</span>
				<span>15岁</span>
				<span>摩羯座</span>
			</div>
			<div class="publisher-score">
				<div class="score"><span>17701</span><span>积分</span></div>
				<div class="score"><span>84346</span><span>经验值</span></div>
			</div>
			<div class="publisher-button">
				<a href="javascript:void(0)" class="go-page">他的主页</a>
				<a href="javascript:void(0)" class="send-message">发消息</a>
			</div>
		  </div>
		</div>
	
		<div class="side-container">
			<div class="box-title">社区公告</div>
			<div class="box-brief announcement">
				为了创造良好的社区氛围，有效率地处理站长反馈，现对发帖规范和版规进行如下规范：发帖规范（1）发表话题，要选择对应问题的#标签#（2）描述问题，上传截图，请备注站点信息，包含问题链接，最好有站点ID（在概况里），方便问题查找追踪。快站运营人员会在两小时内给出回复，对于高频问题或需求我们会在置顶、加精话题及时给出反馈。版规公告话题和回复：1.&nbsp;符合文明健康，规范有序的网络环境2.&nbsp;符合社区定位，选择对应问题的话题标签3.&nbsp;不能损害快站利益4.&nbsp;不刻意水贴5.&nbsp;不能出现诱导分享内容馈。违规惩罚（1）不符合社...
			</div>
    	</div>
    	
    	<div class="side-container">
			<div class="box-title">热门话题</div>
			<div class="box-brief">
				<ul class="hotopic">
					<li><a href="">我应该怎样才能修改快站后台登陆的昵称和头像</a></li>
					<li><a href="">社区发帖时提示qq密码不安全，怎么去除这个弹出条</a></li>
					<li><a href="">线下活动模块在PC版不显示帖子的bug</a></li>
					<li><a href="">可否增加手机端审帖功能，可以用手端对社区发帖进行审帖</a></li>
					<li><a href="">快投票如何设置先关注公众号然后再投票</a></li>
				</ul>
			</div>
    	</div>
    	
    	<div class="side-container">
			<div class="box-title">热门话题</div>
			<div class="box-brief code-content">
				<img src="http://pic.kuaizhan.com/g2/M01/56/EE/CgpQVFiz0XiAUsvOAAFj0jOqtlE644.jpg">
				<span>关注收取回复提醒</span>
			</div>
    	</div>

	</div>
	<!--侧栏 s-->
	
</div>
<!--forumContent e-->

<div class="footer content">                                                                               
	<span>© 2017 SimpleBBS</span>
	<a href="" target="_blank">注册协议</a> | 
	<a href="" target="_blank">关于我们</a> | 
	<a class="ueg_feedback-link" href="" target="_blank">意见反馈</a> | 
	<a href="" target="_blank">网络谣言警示</a>
</div>
<link rel="stylesheet" href="assets/plugs/layui/css/layui.css" />
<script type="text/javascript" src="assets/plugs/layui/layui.js"></script>
<script type="text/javascript" src="assets/js/common.js"></script>
</body>
</html>
