<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>我的话题</title>
<meta name="keywords" content="快站 社区">
<meta name="description" content="快站 社区">
<link rel="stylesheet" type="text/css" href="assets/css/layout.css" />
<link rel="stylesheet" type="text/css" href="assets/css/ui.css" />
<link rel="stylesheet" type="text/css" href="assets/css/forums.css" />
</head>

<body>
<!--top s-->
<div class="top">
	<div class="content mini-bar">
		<a href=""><i class="k-i-home"></i> <span>欢迎访问 www.wy4.cn</span></a>
		<div class="right-user">
                <a href="javascript:void(0)">登录</a>
                <a class="cut-off">|</a>
                <a href="http://www.kuaizhan.com/passport/">注册</a>
        </div>
	</div>
</div>
<!--top e-->
<!--search & nav s-->
<div class="header">
    <div class="content">
        <div class="logo-search-section">
            <div href="javascript:void(0)" class="site-section">
            	<a href="">
				<img src="http://pic.kuaizhan.com/g2/M00/81/28/wKjmqlfNFweAKjU7AAAiuqR4iKU921.png" class="site-logo">
				<span class="logo-title">问题求助</span></a>
            </div>
			<!--search s-->
            <div class="search-section">
                <div class="search-form">
                    <div class="search-pop-form"><input type="text" placeholder="请输入搜索内容" value=""></div>
                    <a href="javascript:void(0)"><i class="k-i-search search-icon"></i></a>
                </div>
            </div>
            <!--search e-->
        </div>
		<!--nav s-->
        <div class="nav-tag">
                <ul class="all-tags">
					<li class="tag-cur">网站首页</li>
					<li>新闻资讯</li>
					<li>市政政策</li>
					<li>生活百态</li>
					<li>房屋租售</li>
					<li>旅游看看</li>
					<li>我的家园</li>
					<li>二手交易</li>
					<li>娱乐八卦</li>
					<li>今日中国</li>
                </ul>
        </div>
        <!--nav e-->
    </div>
</div>
<!--search & nav e-->

<!--forumContent s-->
<div class="forum-content content">
	<div class="forum-content-left">
		<div class="topic-content">
			<div class="userTopic-head">
				<a href="javascript:void(0)" class="topic-cur">话题</a>
				<a href="javascript:void(0)">回复</a>
				<a href="javascript:void(0)">通知</a>
				<a href="javascript:void(0)">私信</a>
			</div>
			
			<!--topic-list s-->
			<div class="topic-list userTopic-list">
			
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				<div class="topic-item">
					<!--topic-content-item s-->
					<div class="brief-content">
						<div class="topic-top">
							<div class="topic-title"><a href="">服务希望能加入用户购买服务支付，还有付费发布的功能</a></div>
							<div class="icon-length">
								<i class="k-i-top topic-stick topic-quality"></i>
								<i class="k-i-sel topic-star topic-quality"></i>
								<i class="kz-e-img-post topic-pic topic-quality"></i>
							</div>
						</div>
						
						<div class="topic-info"><span class="topic-person">牵手夕阳</span><span class="topic-time">5天前</span>
						<div class="topic-tags"><a href="">#二手交易</a></div>
						<div class="topic-operation">
							<div class="watch"><i class="kz-e-scan"></i><span>75</span></div>
							<div class="reply"><i class="kz-e-comment"></i><span>1</span></div>
						</div>
						</div>
					</div>
					<!--topic-content-item e-->
				</div>
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				<div class="topic-item">
					<!--topic-content-item s-->
					<div class="brief-content">
						<div class="topic-top">
							<div class="topic-title"><a href="">服务希望能加入用户购买服务支付，还有付费发布的功能</a></div>
							<div class="icon-length">
								<i class="k-i-top topic-stick topic-quality"></i>
								<i class="k-i-sel topic-star topic-quality"></i>
								<i class="kz-e-img-post topic-pic topic-quality"></i>
							</div>
						</div>
						
						<div class="topic-info"><span class="topic-person">牵手夕阳</span><span class="topic-time">5天前</span>
						<div class="topic-tags"><a href="">#二手交易</a></div>
						<div class="topic-operation">
							<div class="watch"><i class="kz-e-scan"></i><span>75</span></div>
							<div class="reply"><i class="kz-e-comment"></i><span>1</span></div>
						</div>
						</div>
					</div>
					<!--topic-content-item e-->
				</div>
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				
						
								
														<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				<div class="topic-item">
					<!--topic-content-item s-->
					<div class="brief-content">
						<div class="topic-top">
							<div class="topic-title"><a href="">服务希望能加入用户购买服务支付，还有付费发布的功能</a></div>
							<div class="icon-length">
								<i class="k-i-top topic-stick topic-quality"></i>
								<i class="k-i-sel topic-star topic-quality"></i>
								<i class="kz-e-img-post topic-pic topic-quality"></i>
							</div>
						</div>
						
						<div class="topic-info"><span class="topic-person">牵手夕阳</span><span class="topic-time">5天前</span>
						<div class="topic-tags"><a href="">#二手交易</a></div>
						<div class="topic-operation">
							<div class="watch"><i class="kz-e-scan"></i><span>75</span></div>
							<div class="reply"><i class="kz-e-comment"></i><span>1</span></div>
						</div>
						</div>
					</div>
					<!--topic-content-item e-->
				</div>
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				
						
								
														<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				<div class="topic-item">
					<!--topic-content-item s-->
					<div class="brief-content">
						<div class="topic-top">
							<div class="topic-title"><a href="">服务希望能加入用户购买服务支付，还有付费发布的功能</a></div>
							<div class="icon-length">
								<i class="k-i-top topic-stick topic-quality"></i>
								<i class="k-i-sel topic-star topic-quality"></i>
								<i class="kz-e-img-post topic-pic topic-quality"></i>
							</div>
						</div>
						
						<div class="topic-info"><span class="topic-person">牵手夕阳</span><span class="topic-time">5天前</span>
						<div class="topic-tags"><a href="">#二手交易</a></div>
						<div class="topic-operation">
							<div class="watch"><i class="kz-e-scan"></i><span>75</span></div>
							<div class="reply"><i class="kz-e-comment"></i><span>1</span></div>
						</div>
						</div>
					</div>
					<!--topic-content-item e-->
				</div>
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				
						
								
										
																<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				<div class="topic-item">
					<!--topic-content-item s-->
					<div class="brief-content">
						<div class="topic-top">
							<div class="topic-title"><a href="">服务希望能加入用户购买服务支付，还有付费发布的功能</a></div>
							<div class="icon-length">
								<i class="k-i-top topic-stick topic-quality"></i>
								<i class="k-i-sel topic-star topic-quality"></i>
								<i class="kz-e-img-post topic-pic topic-quality"></i>
							</div>
						</div>
						
						<div class="topic-info"><span class="topic-person">牵手夕阳</span><span class="topic-time">5天前</span>
						<div class="topic-tags"><a href="">#二手交易</a></div>
						<div class="topic-operation">
							<div class="watch"><i class="kz-e-scan"></i><span>75</span></div>
							<div class="reply"><i class="kz-e-comment"></i><span>1</span></div>
						</div>
						</div>
					</div>
					<!--topic-content-item e-->
				</div>
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				
						
								
										
																<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				<div class="topic-item">
					<!--topic-content-item s-->
					<div class="brief-content">
						<div class="topic-top">
							<div class="topic-title"><a href="">服务希望能加入用户购买服务支付，还有付费发布的功能</a></div>
							<div class="icon-length">
								<i class="k-i-top topic-stick topic-quality"></i>
								<i class="k-i-sel topic-star topic-quality"></i>
								<i class="kz-e-img-post topic-pic topic-quality"></i>
							</div>
						</div>
						
						<div class="topic-info"><span class="topic-person">牵手夕阳</span><span class="topic-time">5天前</span>
						<div class="topic-tags"><a href="">#二手交易</a></div>
						<div class="topic-operation">
							<div class="watch"><i class="kz-e-scan"></i><span>75</span></div>
							<div class="reply"><i class="kz-e-comment"></i><span>1</span></div>
						</div>
						</div>
					</div>
					<!--topic-content-item e-->
				</div>
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				
						
								
										
																<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->
				<div class="topic-item">
					<!--topic-content-item s-->
					<div class="brief-content">
						<div class="topic-top">
							<div class="topic-title"><a href="">服务希望能加入用户购买服务支付，还有付费发布的功能</a></div>
							<div class="icon-length">
								<i class="k-i-top topic-stick topic-quality"></i>
								<i class="k-i-sel topic-star topic-quality"></i>
								<i class="kz-e-img-post topic-pic topic-quality"></i>
							</div>
						</div>
						
						<div class="topic-info"><span class="topic-person">牵手夕阳</span><span class="topic-time">5天前</span>
						<div class="topic-tags"><a href="">#二手交易</a></div>
						<div class="topic-operation">
							<div class="watch"><i class="kz-e-scan"></i><span>75</span></div>
							<div class="reply"><i class="kz-e-comment"></i><span>1</span></div>
						</div>
						</div>
					</div>
					<!--topic-content-item e-->
				</div>
				<!--topic-item-xxxxxxxxxxxxxxxxxxx s-->		
				
			</div>
			<!--topic-list-item s-->
			
			<!--page s-->
			<div class="pagination">
				<a class="first" href="">上一页</a><a href="" class="cur-page">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a class="last" href="">下一页</a>
			</div>
			<!--page e-->
		</div>
		<!--topic-list e-->
	</div>
	
	<!--侧栏 s-->
	<div class="forum-content-right">
	
		<div class="publisher">
		  <div class="publisher-content">
			<div class="publisher-user-info"><img src="http://pic.kuaizhan.com/g2/M00/8A/EF/CgpQVFcYPi-ANWs3AAATr2jAfiA220.png/imageView/v1/thumbnail/128x128" />
			  <div>快站团队 <span class="user-rank-5 publisher-level"></span></div>
			</div>
			<div class="publisher-signature">
				<span>男</span>
				<span>15岁</span>
				<span>摩羯座</span>
			</div>
			<div class="publisher-score">
				<div class="score"><span>17701</span><span>积分</span></div>
				<div class="score"><span>84346</span><span>经验值</span></div>
			</div>
			<div class="publisher-button">
				<a href="javascript:void(0)" class="go-page">他的主页</a>
				<a href="javascript:void(0)" class="send-message">发消息</a>
			</div>
		  </div>
		</div>
		
	</div>
	<!--侧栏 s-->
	
</div>
<!--forumContent e-->

<div class="footer content">                                                                               
	<span>© 2017 SimpleBBS</span>
	<a href="" target="_blank">注册协议</a> | 
	<a href="" target="_blank">关于我们</a> | 
	<a class="ueg_feedback-link" href="" target="_blank">意见反馈</a> | 
	<a href="" target="_blank">网络谣言警示</a>
</div>
</body>
</html>
